html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #fff;
    background-repeat: no-repeat;
	-webkit-text-size-adjust: 80%;
	-ms-text-size-adjust: 80%;
}

body {
    margin: 0px;
    overflow-y: auto;
    font-family: 'Nunito', sans-serif;
    color: #008dff;
    text-align: center;
}

h1 {
    line-height: 64px;
    font-size: 64px;
}

h2 {
    line-height: 32px;
    font-size: 32px;
}

h3 {
    line-height: 28px;
    font-size: 28px;
}

h4 {
    line-height: 24px;
    font-size: 24px;
}

h5 {
    line-height: 20px;
    font-size: 20px;
}

p {
	font-weight: 200;
    font-size: 14px;
    line-height: 16px;
}

a {
    color: #008dff;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

a:hover {
    color: #005090;
}

header {
    margin-top: 12vh;
}

footer {
	padding-bottom: 3%;
    margin-bottom: 3%;
}

#canvas {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#wrapper {
    min-width: 320px;
}

.logo {
    max-width: 500px;
}

.site {
	display: inline-block;
	margin-left: 16px;
	margin-right: 16px;
}

.site h5 {
	margin-top: -4px;
	margin-bottom: 0px;
}

.site p {
	font-size: 12px;
	margin-top: 0px;
}
